/* Main Nav Styles */
.main-nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }
  
  .main-nav-logo {
    display: flex;
    align-items: center;
  }
  
  .main-nav-logo img {
    width: 150px;
    box-shadow: 4px 6px 7px grey;
  }
  
  .main-nav-items-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-nav-item {
    display: flex;
    align-items: center;
    color: #2c3e50;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1rem;
  }
  
  .main-nav-item svg {
    margin-right: 0.5rem;
    font-size: 25px;
  }
  
  @media (max-width: 565px){
    .main-nav-logo img{
      width: 100px;
    }
    .main-nav-item svg{
      font-size: 20px;
    }
    .main-nav-item{
      font-size: 14px;
    }
  }